@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700');

a {
	color: #0c547a;
}
a:hover {
	color: #8d0c14;
	text-decoration: none;
}
b {
	color: #8d0c14;
}

::-moz-selection {
	/* Code for Firefox */
	color: red;
	background: yellow;
}

::selection {
	color: #000;
	background: #fbd1d3;
}
